* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'PT Sans', sans-serif;

}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.upper {
	text-transform: uppercase;
}

.strike {
	text-decoration: line-through;
}