.sender {
    padding-bottom: 15px;
    padding-top: 10px;
    margin: 0 auto;
    background: #fff;
    font-size: 10px;
}

.sender a {
    color: #000;
    text-decoration: none;
}

.send {
    width: 50%;    
}

.lang_login {
    margin-top: 10px;
    width: 50%;   
}

.send_link:before {
    content: '';
    width: 21px;
    height: 13px;
    display: inline-block;
    background: url(../images/send.png);
    margin-right: 7px;
}

.header__bottom {
    position: relative;
    background: #000;
    padding-top: 20px;
    padding-bottom: 25px;
    color: #fff;
}

.header_burger {
    padding-top: 6px;
    float: left;
    display: inline-block;
}

.header_logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 117px;
    height: 25px;
    display: inline-block;
}

.header_buy {
    float: right;
    color: inherit;
    text-decoration: none;

}

.header_buy:after {
    display: inline-block;
    content: '';
    width: 27px;
    height: 21px;
    margin-left: 2px;
    background: url(../images/buy.png);
}

.header_burger span {
    display: block;
    width: 40px;
    height: 2px;
    margin-bottom: 6px;
    background-color: #fff;
}

.burger_button {
    display: inline-block;
    cursor: pointer;
}

.header_burger span:last-child {
    margin-bottom: 0px;
}

.header__btm_menu {
    padding-top: 28px;
    padding-bottom: 48px;
    border-top: 1px solid rgba(255, 255, 255, .8);
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, .8);
}

.header__btm_menu li {
    padding: 0;
}

.btm_menu_item a {
    padding: 20px 0px;
    display: block;
    text-align: center;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.form_search {
    display: none;
}

.header_search_btn {
    display: none;

}

.shipping {
    display: none;
}

.vertical {
    vertical-align: middle;
}

.login_link {
    margin-left: 4px;
}

.login_link:before {
    content: '';
    width: 24px;
    height: 9px;
    display: inline-block;
    background: url(../images/key.png);
    margin-right: 7px;
}

.b:after {
    content: "|";
    display: inline;
    margin-left: 4px;
}

.b:last-child:after {
    content: "";
    display: inline;
    margin-left: 4px;
}

.b:hover {
    font-weight: bold;
}

.lang {
    float: right;
}

/*Slider*/
.responsive {
    margin-bottom: 35px;
}

.slider_baner1 {
    height: 390px;
    background: url(../images/baner.jpg) no-repeat left 25% top/cover;
}

.slider_baner2 {
    height: 390px;
    background: url(../images/baner1.jpg) no-repeat left 57% top/cover;
}

.dot li button {
    padding: 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    text-decoration: none;
    border: 0px;
    border-radius: 50%;
    background: #6c6c69;
    font-size: 0px;
    outline: 0;
}

.dot li {
    margin-right: 10px;
}

.dot li:last-child {
    margin-right: 0px;
}

.dot .slick-active button { /*активная точка*/
    background: #000;
}

.dot li {
    list-style: none;
    display: inline-block;
}

.dot {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 24px;
    z-index: 200;
    width: 34px;
    margin: 0 auto;
}

/*end Slider*/

.baner {
    height: auto;
    width: 100%;
}

.new {
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    line-height: .8;
}

.thumb_main img {
    width: 100%;
    height: auto;
}

.thumb .thumb_main:nth-child(2) {
    display: none;
}

.thumb .thumb_main:nth-child(3) {
    display: none;
}

.thumb_main {
    margin: 0 auto;
    margin-bottom: 60px;
    width: 77%;
    text-align: center;
    line-height: 1.7;
}

.sale {
    background-color: #fff;
}

.sale__img {
    position: relative;
    background-image: url(../images/sale.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90px;
    width: 77%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.sale__text {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 35px;
    width: 100%; /*задал, чтоб выровнять по горизонтали*/
    text-align: center;
    font-size: 24px;
    text-decoration: underline;
    text-transform: uppercase;
    display: inline-block;
}

.th {
    margin-bottom: 31px;
}

.th_text a {
    color: #000;
    text-decoration: none;
    line-height: 1.7;
    font-weight: bold;
}

.th_price {
    font-weight: bold;
}

.price {
    margin-right: 10px;
}

.sale_link {
    color: #000;
}

.button {
    height: 44px;
    width: 213px;
    border: 1px solid #b0ac9c;
    margin: 0 auto;
    color: #b0ac9c;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

.button a {
    color: #b0ac9c;
    text-decoration: none;
}

.cnt {
    margin-bottom: 50px;
}

.footer_ul {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    line-height: 1.67;
}

.footer_ul_main {
    float: left;
}

footer {
    padding-top: 45px;
    padding-bottom: 50px;
    background-color: #000;
    color: #fff;
}

.footer_li {
    list-style: none;
}

.footer_li a {
    text-decoration: none;
    color: #fff;
}

.footer_inner {
    width: 280px;
    margin: 0 auto;
}

.footer_button {
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid;
    width: 150px;
    text-align: center;
    float: right;
    text-transform: uppercase;
}

.footer_menu {
    padding: 0;
    font-size: 12px;
    margin-bottom: 50px;
}

.footer_tel {
    text-transform: none;
}

.developer {
    font-size: 12px;
}

.developer a {
    color: #fff;
}

@media screen and (min-width: 480px) {
    .sender {
        font-size: 14px;
    }

    .send {
    width: 50%;
    float: left;    
}

.lang_login {
    margin-top: 0px;
    width: 50%;
    float: right;   
}

    .slider_baner1 {
        height: 390px;
        background: url(../images/baner.jpg) no-repeat left 31% top/cover;
    }

    .slider_baner2 {
        height: 390px;
        background: url(../images/baner1.jpg) no-repeat left 28% top/cover;
    }

    .thumb_main {
        line-height: 1.7;
    }

    .sale__img {
        height: 120px;
        width: 77%;
        margin-bottom: 65px;
    }

    .footer_ul {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        line-height: 1.67;
    }

    footer {
        padding-top: 45px;
        padding-bottom: 100px;
        background-color: #000;
        color: #fff;
    }

    .footer_li {
        list-style: none;
    }

    .footer_li a {
        text-decoration: none;
        color: #fff;
    }

    .footer_inner {
        width: 374px;
        margin: 0 auto;
    }

    .footer_button {
        padding-top: 12px;
        padding-bottom: 12px;
        border: 1px solid;
        width: 172px;
        text-align: center;
        float: right;
        text-transform: uppercase;
    }

    .footer_menu {
        padding: 0;
        font-size: 18px;
        margin-bottom: 87px;
    }

    .footer_tel {
        text-transform: none;
    }

    .developer {
        font-size: 18px;
    }

    .developer a {
        color: #fff;
    }
}

/*750*/
@media screen and (min-width: 768px) {

    .header_burger {
        display: none;
    }

    .btm_menu_item a {
        padding: 0px 17px;
        font-size: 14px;
    }

    .header_logo {
        float: left;
        margin-right: 17px;
        position: static;
    }

    .header__btm_menu {
        float: left;
        padding: 0;
        position: static;
        display: block;
        border-top: none;
    }

    .btm_menu_item {
        display: inline-block;
    }

    .header_search_btn {
        position: static;
        display: block;
        float: right;
    }

    .search_icon {
        display: block;
        width: 23px;
        height: 23px;
        margin-right: 16px;
        background: url(../images/search.png);
    }

    .form_search input[type="search"] {
        border: none;
        height: 25px;
        padding-right: 25px;
        border-bottom: 1px solid #000;
    }

    .form_search {
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 100;
    }

    .form_search button {
        position: absolute;
        right: 0;
        bottom: 2px;
        font-size: 0;
        background: #fff url(../images/search1.png);
        border: none;
        width: 23px;
        height: 23px;
    }

    .slider_baner1 {
        height: 390px;
        background: url(../images/baner.jpg) no-repeat left 50% top/cover;
    }

    .thumb {
        text-align: center;
    }

    .thumb_img {
        margin-bottom: 26px;
    }

    .thumb_text {
        font-size: 14px;
    }

    .thumb_all {
        width: 83%;
        margin: 0 auto;
        margin-bottom: 37px;
        font-size: 0px;
    }

    .thumb_main {
        width: 33.3%;
        padding: 0px 10px;
        margin: 0;

        line-height: 2;
        display: inline-block;
        vertical-align: top;
    }

    .thumb .thumb_main:nth-child(2) {
        display: inline-block;
    }

    .thumb .thumb_main:nth-child(3) {
        display: inline-block;
    }

    .cnt {
        margin-bottom: 42px;
    }

    .sale__img {
        height: 192px;
        width: 79%;
        margin-bottom: 58px;
    }

    footer {
        padding-bottom: 28px;
    }

    .footer_inner {
        width: 79%;
        margin: 0 auto;
    }

    .footer_ul_main {
        width: 75%;
    }

    .footer_ul {
        float: left;
    }

    .footer_button_block {
        float: right;
        width: 25%;
    }

    .footer_menu {
        font-size: 12px;
        margin-bottom: 26px;
    }

    .footer_ul {
        width: 33.3%;
        line-height: 1.5;
    }

    .footer_button {
        width: 130px;
    }

    .developer {
        font-size: 12px;
    }
}

/*970*/
@media screen and (min-width: 992px) {

    .slider_baner2 {
        height: 390px;
        background: url(../images/baner1.jpg) no-repeat left 45% top/cover;
    }

    .send {
        width: 25%;
        float: left;
    }

    .shipping {
        display: block;
        width: 50%;
        float: left;
        text-align: center;
    }

    .lang_login {
        width: 25%;
        float: right;
    }

    .thumb_all {
        margin-bottom: 32px;
    }

    .thumb_main {
        padding: 0px 14px;
    }

    .cnt {
        margin-bottom: 44px;
    }

    .sale__img {
        height: 253px;
        margin-bottom: 63px;
    }

    footer {
        padding-bottom: 28px;
    }

    .footer_inner {
        margin: 0 auto;
    }

    .footer_menu {
        font-size: 12px;
        margin-bottom: 19px;
    }

}

/*1170*/
@media screen and (min-width: 1200px) {

    .form_search input[type="search"] {
        border-bottom: 1px solid #fff;
        background: transparent;
        color: #fff;
    }

    .form_search {
        position: relative;
        margin-right: 16px;
        display: block;
    }

    .form_search button {
        background: transparent url(../images/search.png);

    }

    .search_icon {
        display: none;
    }

    .thumb_main {
        padding: 0px 17px;
    }

    .thumb_img {
        margin-bottom: 32px;
    }

    .thumb_all {
        margin-bottom: 34px;
    }

    .sale__img {
        width: 80%;
        height: 304px;
        margin-bottom: 70px;
    }

    footer {
        padding-bottom: 28px;
    }

    .footer_inner {
        width: 80%;
        margin: 0 auto;
    }
}


